
function create() {
  return function(dispatch) {

    dispatch(createStart());

    return getBooking().then(function(data) {

        dispatch(createFinish(data));

        return dispatch(createMessage(data))
          .then(function(){

            dispatch(notification('done'));
            dispatch(unlock('done'));

          });
      }, function(err) {

        dispatch(createFail(err));

      });
  };
};